<?xml version="1.0"?>
<Root>
  <SiteName>_记账网站,记账APP,简单记账,AA生活记账</SiteName>
  <SiteAuthor>QQ：67936108</SiteAuthor>
  <SiteKeywords>记账,网上记账,记账网站,记账软件,手机记账,记账APP,手机记账APP,简单记账,AA生活记账</SiteKeywords>
  <SiteDescription>AA生活记账是一个记录收入、支出、借还消费，操作简单的电脑记账网站。包括分类排行、次数排行、单价排行、日期排行、区间统计、推荐统计，比较分析、收支分析、借还分析、趣味统计，和区间记账、专题记账、语音记账、数据同步、我的钱包、类别预警、搜索等实用功能。简单记账，AA生活记账。</SiteDescription>
  <PagePerNumber>72</PagePerNumber>
  <SiteTips>&amp;lt;a href=&amp;quot;http://www.fxlweb.com/app/AALifeNew.apk&amp;quot; style=&amp;quot;color:#00ff00;&amp;quot;&amp;gt;安卓手机版下载。&amp;lt;/a&amp;gt;</SiteTips>
  <MessageCode>3</MessageCode>
  <SiteMessage>测试新版本。</SiteMessage>
  <PhoneMessage>测试新版本。\n</PhoneMessage>
</Root>